body .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid div.row.no-gutters div.col-sm-auto {
    width: 220px;
}

.navbar.flex-column {
    padding: 0;
}

.navbar.flex-column a.nav-link {
    background-color: #f0eef0;
    border: 1px solid #e0dee0;
    margin: 1px 0;
    padding: .8rem 2rem;
    width: 100%;
}

.navbar.flex-column a.nav-link:hover {
    background-color: #e0dee0;
}

.navbar.flex-column a.nav-link i.fas {
    font-size: 1.3rem;
    margin-right: 10px;
}


/*   /ADMIN/PAGES   */
table.pages tr td {
    cursor: default;
}

.modal .modal-navbar a.nav-link,
table.pages i.fas,
table.posts i.fas,
table.users i.fas {
    cursor: pointer;
}

label[for="header_code"],
label[for="footer_code"] {
    margin-top: 20px;
}

form#new_page button {
    margin-top: 40px;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.modal-fluid {
    width: 90%;
    max-width: 90%;
}

.modal iframe {
    border: none;
    height: 800px;
    width: 100%;
    overflow: hidden;
}


/*  /ADMIN/INDEX    */
h5 {
    margin-top: 20px;
}

.dropdown + button[type=submit] {
    margin-top: 40px;
}